<div class="login-wrapper">

    <!-- CARD -->
    <div class="login-card">
        
        <!-- LOGO -->
        <img src="logo.png" alt="Logo" class="login-logo">

        <!-- FORM -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- USERNAME -->
            <label class="input-label">Username</label>
            <div class="input-box">
                <input 
                    type="text"
                    formControlName="username"
                    placeholder="Type your username"
                >
            </div>

            <!-- PASSWORD -->
            <label class="input-label">Password</label>
            <div class="input-box">
                <input 
                    type="password"
                    formControlName="password"
                    placeholder="Type your password"
                >
            </div>

            <!-- LOGIN BUTTON -->
            <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
                Login
            </button>

        </form>

    </div>
</div>
